@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Poppins', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  *, *::before, *::after {
  outline: none !important;
}

:focus-visible {
  outline: 2px solid #d5dd23 !important;
  outline-offset: 2px !important;
}

  body {
    @apply bg-white text-black min-h-screen;
  }
}
